<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Login</title>
</head>
<body>
Првет пожалуйста зарегистрируйтесь
<div>
        <form method="post">
            <input type="text" name="username" placeholder="Введите username" />
            <input type="text" name="password" placeholder="password">
            <button type="submit">Залогиниться</button>
        </form>
    </div>
    
</body>
</html>